.root {
  position: relative;
  width: 16px;
  height: 16px;
  flex-direction: column;
  align-items: flex-start;
}
.vector {
  position: absolute;
  left: 5.2083%;
  right: 5.2083%;
  top: 9.375%;
  bottom: 5.2083%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
